.goods-item{
    width: 250px;
    height: 120px;
    background-color: dimgray;
    border: 2px solid green;
    border-radius: 5px;
}
.goods-item__image{
    display: block;
    margin: 0 auto;
}
.goods-item__name{
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
}
.goods-item__number{
    display: block;
    margin-top: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}